.DS_Store
/.idea/
/gitmirror/
/cvsmoodle/
/cvsmoodle18/
/cvsmoodle19/
/cvsmoodle20/
/cvsmoodle21/
/cvsmoodle22/
/cvsmoodle23/
/vendor/
.phpunit.result.cache
.phpunit.cache
coverage
coverage.txt
.phpcs-cache
